@page
@model WebApplication7.Pages.Vehicle.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vehicle.Id" />
            <div class="form-group">
                <label asp-for="Vehicle.Make" class="control-label"></label>
                <input asp-for="Vehicle.Make" class="form-control" />
                <span asp-validation-for="Vehicle.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Model" class="control-label"></label>
                <input asp-for="Vehicle.Model" class="form-control" />
                <span asp-validation-for="Vehicle.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.RegistrationNumber" class="control-label"></label>
                <input asp-for="Vehicle.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Vehicle.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Year" class="control-label"></label>
                <input asp-for="Vehicle.Year" class="form-control" />
                <span asp-validation-for="Vehicle.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.OwnerName" class="control-label"></label>
                <input asp-for="Vehicle.OwnerName" class="form-control" />
                <span asp-validation-for="Vehicle.OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.OwnerContact" class="control-label"></label>
                <input asp-for="Vehicle.OwnerContact" class="form-control" />
                <span asp-validation-for="Vehicle.OwnerContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.LastServiceDate" class="control-label"></label>
                <input asp-for="Vehicle.LastServiceDate" class="form-control" />
                <span asp-validation-for="Vehicle.LastServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.OdometerReading" class="control-label"></label>
                <input asp-for="Vehicle.OdometerReading" class="form-control" />
                <span asp-validation-for="Vehicle.OdometerReading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
